
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #384aeb;
    --secondary-color: rgb(228, 234, 234);
}

.logo {
    width: 30%;
    padding-top: 0.5rem;
}

.container {
    display: flex;
    padding: 2rem;
    width: 80%;
    margin: auto;
}

.list {
    display: flex;
    width: 45%;
    padding-top: 0.5rem;
}

.list-item {
    padding-left: 15px;
    padding-right: 15px;
    list-style: none;

}
.list-item:hover {
    transform: translateX(10px); 
}

.list-item:hover a {
    color: var(--main-color); 
}

.nav-link {
    text-decoration: none;
    font-size: large;
    color: black;
}

.icons {
    width: 10%;
    padding-top: 0.5rem;
}
.icons i{
    padding-left:15px;
    color:black;
}

.button {
    text-decoration: none;
    background-color: rgb(247, 246, 246);
    color: black;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border: 2px solid var(--secondary-color);
    border-radius: 50px;
    font-weight: bold;
    transition: 1s;
}

.button:hover {
    border: 2px solid var(--main-color);
}

/*start header*/
.container-header {
    width: 100%;
    height: 100vh;
    display: flex;
    padding-bottom: 20px;
}

.colored {
    width: 30%;
    background-color: var(--main-color);
}

.content {
    width: 70%;
    background-color: var(--secondary-color);

}

.header-image {
    position: absolute;
    width: 37%;
    height: 80%;
    top: 175px;
    left: 150px;
    z-index: 1;
}

/*description header*/
.description {
    margin: 300px;

}

.description span {
    font-size: 25px;
    color: rgb(130, 134, 137);
    opacity: 0;
    transform: translateX(-50px);
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 0s;
}

.description h1 {
    text-transform: uppercase;
    opacity: 0;
    transform: translateX(-50px);
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 1s;
}

.header-paragraph {
    padding-top: 10px;
    padding-bottom: 25px;
    opacity: 0;
    transform: translateX(-50px);
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 2s;
}

.button-header {
    text-decoration: none;
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    border: 2px solid black;
    border-radius: 50px;
    transition: 1s background-color;
    opacity: 0;
    transform: translateX(-50px);
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 3s;
}

.button-header:hover {
    background-color: var(--secondary-color);
    color: black;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-50px);
        /* موقع البداية */
    }

    100% {
        opacity: 1;
        /* النهاية: مرئي */
        transform: translateX(0);
        /* موقع النهاية */
    }
}

/*main-products*/
.container-mpro,
.container-tpro,
.container-bestSeller,
.container-news {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    opacity:0;
    
}

.fadeup-animation {
    transform: translateY(100px);
    animation: fadeup 2s ease-in-out forwards;
}

@keyframes fadeup {
    0% {
        opacity: 0;
        transform: translateY(100px);
        /* موقع البداية */
    }

    100% {
        opacity: 1;
        /* النهاية: مرئي */
        transform: translateY(0);
        /* موقع النهاية */
    }
}


.product {
    position: relative;
    text-align: center;
    flex: 1 1 calc(25% - 20px);
    /* حجم العنصر 25% من عرض الحاوية */
    box-sizing: border-box;
    /* لضمان حساب الحدود ضمن الحجم */
}

.product img {
    width: 100%;
    /*(ديف البرودكت)عرض الصورة مساوي لعرض ابوها */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    opacity: 0;
    /* مخفي في البداية */
    transition: opacity 0.3s ease-in-out;

}

/* عند تمرير الماوس، تظهر الطبقة */
.product:hover .overlay {
    opacity: 1;
}

.square {
    background-color: var(--main-color);
    width: 200px;
    height: 90px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 20px 20px;
    font-size: 16px;
    border-radius: 10px;
}

/*trend products*/
.trend-products {
    padding-top: 100px;
    padding-bottom: 100px;
}

.head {
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}

.product img {
    position: relative !important;
}

.trend-products .product .overlay {
    position: absolute;
    top: auto;
    bottom: 62px;
    height: 20%;
    left: 0;

}

.trend-products .container-tpro .product:hover .icon {
    opacity: 1;
}
.product:hover h3 {
  color:var(--main-color)
}
.icon {
    display: flex;
    gap: 10px;
}

.icon i {
    
    padding: 10px;
    background-color: rgb(136, 148, 255);
    transition: background-color 0.5s;
}

.icon i:hover {
    background-color: var(--main-color);
}

/*shop*/
.shop {
    margin-top: 40px;
    background-image: url(../../assets/images/back-ground-cart.webp);
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center center; /*X Y*/
    transition: background-position 0.8s ease-in-out;
}
.shop:hover{
    background-position: 30% center; /*النقطة المرجعية للصورة تبدأ عند 30% من عرض العنصر بدل 50*/
}

.desc {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 150px;
}

.desc span {
    color: var(--secondary-color)
}

.button-shop {
    text-decoration: none;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 2px solid var(--main-color);
    border-radius: 50px;
    width: 150px;
    text-align: center;
    color: white;
    background-color: var(--main-color);
    font-weight: bold;
    transition: 1s background-color;
}

.button-shop:hover {
    color: black;
    background-color: transparent;
}

/*Best Seller*/


/*latest news*/
.latest-news {
    padding-bottom: 50px;
}

.info span {
    padding-right: 30px;
    color: rgb(112, 123, 125);
}

.for-read {
    text-align: left;
}

.for-read a {
    text-decoration: none;
}

.latest-news i {
    padding: 5px;
}
/* كلاس يتم إضافته عند التمرير */
.pop-animation {
    animation: popIn 2s ease-in-out forwards;
}
@keyframes popIn {
    0% {
        transform: scale(0.5); /* صغير جدًا في البداية */
        opacity: 0;
    }
    50% {
        transform: scale(1.2); /* يكبر أكثر من حجمه الطبيعي */
        opacity: 1;
    }
    100% {
        transform: scale(1); /* يرجع لحجمه الطبيعي */
        opacity: 1;
    }
}


/*Start footer*/
.footer{
    background-color: #002347;
    padding:50px 0;
}
.container-footer{
    width:80%;
    margin:auto;
    display: flex;
}
.foot h4{
    margin-bottom:20px;
    color:white;
    font-size: larger;
    font-weight: bold;
}
.foot p{
    color:gray;
}
.foot{
    width:25%;
    padding:10px;
}
.method{
    display: flex;
    padding-bottom: 20px;
    gap:10px;
}
.method .icon{
    height: auto;
}
.method .icon i{
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 35px;
    color:white;
    background-color: var(--main-color);
}
.info span{
    color:white;
    font-size:16px;
}
.qLinks ul{
    margin-left:15px;
}
.quickLink li{
    list-style: none;
    color:gray;
    padding-bottom:10px;
}
.quickLink{
    text-decoration: none;
}
.container-gallery{
    width:50%;
    display:flex;
    flex-wrap: wrap;
    
}
.photo{
  width:50%;
}
/*Start copy rights*/
.copyRights{
    height: 10vh;
    background-color: var(--secondary-color);
}
.copyRights p{
    color:#002347;
    text-align: center;
    padding-top:20px;
}
.copyRights i{
    color:red
}